{% extends 'home/base.html' %}
{% load static %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home_page' %}" style="color: #fed136;">
        <img src="{% static 'home/img/logo.png' %}"> StudenTutor
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="{% url 'home_page' %}">Home</a>
        <a class="nav-item nav-link " href="{% url 'tutors' %}">Tutors</a>
        {% if user.is_authenticated %}
        {% if grp == "students" %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'student_dashboard' %}">Dashboard</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'tutor_dashboard' %}">Dashboard</a>
            </li>
        {% endif %}
        <a class="nav-item nav-link" href="{% url 'sign_out' %}">Sign Out</a>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'sign_in' %}">Sign In</a>
        <a class="nav-item nav-link" href="{% url 'register_as' %}">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock %}

{% block links %}

{% endblock %}

{% block content %}
<div class="modal" id="myModal">
        <div class="modal-dialog border-dark">
            <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Register Now To Send The Invitation</h4>
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                    <div class="container">
                            <div class="row">
                              <div class="col-lg-10 col-xl-9 mx-auto">
                                <div class="card  shadow-lg card-signin flex-row my-5 border-dark">
                                  <div class="card-body">
                                    <h5 class="card-title text-center">Student Register</h5>
                                    <form class="form-signin" method="POST" action="">
                                            {% csrf_token %}
                                      <div class="form-label-group">
                                            {{form.username}}
                                      </div>
                                      <small class="text-danger">{{form.username.errors}}</small>
                        
                                      <div class="form-label-group">
                                            {{form.first_name}}
                                      </div>
                                      <small class="text-danger">{{form.first_name.errors}}</small>
                                      <div class="form-label-group">
                                            {{form.last_name}}
                                      </div>
                                      <small class="text-danger">{{form.last_name.errors}}</small>
                                      <div class="form-label-group">
                                            {{form.email}}
                                      </div>
                                      <small class="text-danger">{{form.email.errors}}</small>
                                      <div class="form-label-group">
                                            {{form.phone}}
                                      </div>
                                      <small class="text-danger">{{form.email.phone}}</small>
                                      <div class="form-label-group">
                                            {{form.age}}
                                      </div>
                                      <small class="text-danger">{{form.age.errors}}</small>
                                      <div class="form-label-group">
                                            {{form.city}}
                                      </div>
                                      <small class="text-danger">{{form.city.errors}}</small>
                                      
                                      <hr>
                        
                                      <div class="form-label-group">
                                            {{form.password1}}
                                      </div>
                                      <small class="text-danger">{{form.password1.errors}}</small>
                                      
                                      <div class="form-label-group">
                                            {{form.password2}}
                                      </div>
                                      <small class="text-danger">{{form.password2.errors}}</small>
                    
                                      <div class="d-flex justify-content-center text-center mb-3 mt-3">
                                                  <small>By clicking register you <b>accept</b> our <br> <a href="{% url 'privacy_policy' %}" target="blank"><b>Privacy Policy</b></a> and <a href="{% url 'terms' %}" target="blank"><b>Terms Of Use</b></a></small>
                                            </div>
                        
                                      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                                      
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center">
                        <div class="card shadow  mb-5 border-dark" style="height: auto; width:auto;">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-md-12">
                                            <span class="d-flex justify-content-end"> 
                                                {% if user.is_authenticated and registered == "students" %}
                                                    {% if user.student.profile_complete == False %}
                                                        <a class="btn btn-info text-light disabled" href="{% url 'tutor_invite' tutor.id %}">Invite For Demo</a>
                                                    {% else %}
                                                    <a class="btn btn-info text-light" href="{% url 'tutor_invite' tutor.id %}">Invite For Demo</a>
                                                    {% endif %}
                                                {% else %}
                                                    <a class="btn btn-info text-light" data-toggle="modal" data-target="#myModal">Register</a>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                    
                                    <div class="row">
                                        <div class="col-md-12 container ">
                                            <div class="d-flex justify-content-center">
                                                <img src="{{tutor.tutorUser.user_image.url}}"  style="border: solid 2px; border-radius: 125px;" height="150" width="150">
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="mt-4 container">
                                        <div>
                                            <h5><b>Tutor: </b>{{tutor.tutorUser.first_name}} {{tutor.tutorUser.last_name}} </h5>
                                        </div>
                                        <div>
                                            <small style="text-align: justify;">{{tutor.tutorUser.tagline}}</small>
                                            <p class="mt-2 mb-2"><b><i class="fas fa-graduation-cap"></i></b> <span style="text-align: justify;">{{qual.highest_qual}} from {{qual.highest_qual_inst}}</span></p>
                                            <p class="mt-2 mb-2"><b><i class="fas fa-graduation-cap"></i></b> <span style="text-align: justify;">{{qual.secondary_qaul}} from {{qual.secondary_qaul_inst}}</span></p>
                                            <hr>
                                            <p style="text-align: justify;" class="mt-2">{{tutor.tutorUser.about}}</p>
                                        </div>
                                    </div>
                    
                                    <div class="container">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Subject: </b>{{tutor.subject}}</span></li>
                                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Tuition Level: </b>{{tutor.tuition_level}}</span></li>
                                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Estimated Fees: </b>PKR {{tutor.estimated_fees}}</span></li>
                                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>City: </b>{{tutor.tutorUser.city}}</span></li>
                                            {% if tutor.can_travel == "Yes" and tutor.tuition_type == "Home Tuition" %}
                                                <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Can Travel</b></span></li>
                                            {% elif tutor.can_travel == "No" and tutor.tuition_type == "Home Tuition" %}
                                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Area: </b>{{tutor.address}}</span></li>
                                                <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Can Not Travel</b></span></li>
                                            {% else %}
                                            <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Online Tuition</b></span></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                    
                                </div>
                            </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow border-primary p-3 mb-3">
                    <h5 class="card-title text-center">Other ADs By This Tutor</h5>
                    <hr>
                    {% if tutors %}
                        {% for tutor in tutors %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-body mb-3 border-success shadow">
                                        <div class="d-flex justify-content-between">
                                            <h5>{{tutor.tutorUser.first_name}} {{tutor.tutorUser.last_name}}</h5>
                                            <a href='{% url "ads_detail_tutor" tutor.id %}' class="text-success">View AD</a>
                                        </div>
                                        <small>{{tutor.tutorUser.tagline}}</small>
                                        <div class="conatiner mt-3 text-justify">
                                            <small class="text-justify"><b>Subject: </b>{{tutor.subject}}</small>
                                            <br>
                                            <small class="text-justify"><b>Tuition Level: </b>{{tutor.tuition_level}}</small>
                                            <br>
                                            <small class="text-justify"><b>Estimated fees: </b>PKR {{tutor.estimated_fees}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="d-flex justify-content-center container">
                            <h1 class="border p-3 mt-5 border-primary text-secondary"> NO OTHER AD BY THIS TUTOR </h1>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block scripts %}

<script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username';
        form_fields[2].placeholder='First Name';
        form_fields[3].placeholder='Last Name';
        form_fields[4].placeholder='Email';
        form_fields[5].placeholder='Phone';
        form_fields[6].placeholder='Age';
        form_fields[7].placeholder='City';
        form_fields[8].placeholder='Password';
        form_fields[9].placeholder='Password Again';
        for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
</script>

{% endblock %}