{% extends 'home/base.html' %}

{% load static %}

{% block links %}
    <style>
        a {
            
            font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        }

        #floating_btn{
            position: fixed;
            bottom: 50px;
            right: 40px;
            z-index: 999;
            padding: 15;
            font-size: 1.2rem;
            width: 80px;
            height: 80px;
            border: solid 2px;
            border-color: black;
            border-radius: 40%;
            background-color:#fec810;
            color:white;
            font-weight:600;
            font-size: 17px;
        }
    </style>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home_page' %}" style="color: #fed136;">
        <img src="{% static 'home/img/logo.png' %}"> StudenTutor
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="{% url 'home_page' %}">Home</a>
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'sign_out' %}">Sign Out</a>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'sign_in' %}">Sign In</a>
        <a class="nav-item nav-link" href="{% url 'register_as' %}">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>

{% endblock %}

{% block content %}

<div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Filter Tutors</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <form method="GET" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="input-group">
                            <input type="search" name="Subject" placeholder="Subject" class="form-control">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="input-group">
                            <select class="form-control selectpicker" name="TuitionLevel">
                                <option>All</option>
                                <option>Primary (class 1-5)</option>
                                <option>Matric</option>
                                <option>University</option>
                                <option>Professional</option>
                                <option>Secondary (class 6-8)</option>
                                <option>Intermediate</option>
                                <option>O Level</option>
                                <option>A Level</option>
                                <option>SAT-I / SAT-II / E-CAT / M-CAT / GRE / GMAT / Entry test</option>
                                <option>IELTS / TOEFL", "IELTS / TOEFL</option>
                                <option>Quran / Religious Studies", "Quran / Religious Studies</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="input-group">
                            <input type="search" name="City" placeholder="City" class="form-control ">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success">Filter</button>
                        </div>
                </form>
            </div>
            </div>
        </div>
    </div>

<!-- <div class="container mt-5">
        <h3 class="bg-light p-3">FEATURED</h3>
        <br>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="bg-primary" style="width: 100%; height:400px;">
                        <div class="card card-body shadow bg-light">
                            <div class="d-flex justify-content-between">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Tutor Name</h5>
                                        <p>This is tagline of tutor</p>
                                    </div>
                                </div>
                                <div class="">
                                    <a class="btn btn-info text-light">View</a>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card h-100 bg-dark shadow border-top text-light card-body">
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="text-center"><b>Subject</b></h5>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Maths</p>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="text-center"><b>Tuition Level</b></h5>
                                    </div>
                                    <div class="col-md-6">
                                        <p>A-Level</p>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="text-center"><b>Estimated Fees</b></h5>
                                    </div>
                                    <div class="col-md-6">
                                        <p>PKR 5000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <br>
    <hr>
    <br>
</div> -->

<div class="container mt-5">
    <h3 class="bg-light p-3">Verified Tutors</h3>
    <div class="row row-cols-1 row-cols-md-2 mt-3 mb-3">
            {% if items %}
            {% for tutor in items %}
            <div class="col-md-4 mb-4">
                <div class="card shadow border border-primary" style="height: auto;">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <span class="d-flex justify-content-end mb-2"> 
                                    <a class="btn btn-info" href="{% url 'tutor_detail' tutor.id %}">View Tutor</a>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="d-flex">
                                <div class="col-md-6 container ">
                                    <div class="d-flex justify-content-center">
                                        <img src="{{tutor.user_image.url}}"  style="border: solid 2px; border-radius: 125px;" height="100" width="100">
                                    </div>
                                </div>
                            
        
                                <div class="mt-2 container">
                                    <div>
                                        <h5> {{tutor.first_name}} {{tutor.last_name}} </h5>
                                    </div>
                                    <div>
                                        <small style="text-align: justify;">{{tutor.tagline}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="d-flex justify-content-center container">
                    <h1 class="border p-3 mt-5 border-primary text-secondary"> NO TUTOR FOUND </h1>
                </div>
            {% endif %}
        </div>
    </div>
    {% include "home/pagination.html" %}
    
</div>




{% endblock %}