{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script data-ad-client="ca-pub-2895687245826728" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143116796-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143116796-2');
</script>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tutors</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'home/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'home/css/agency.css' %}" rel="stylesheet">

  {% block links %} {% endblock %}

</head>

<body id="page-top">
    {% block nav %} {% endblock %}

    {% block content %} {% endblock %}



    {% block footer %} {% endblock %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'home/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'home/js/jqBootstrapValidation.js' %}"></script>
  <!-- <script src="{% static 'home/js/contact_me.js' %}"></script> -->

  <!-- Custom scripts for this template -->
  <script src="{% static 'home/js/agency.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  {% block scripts %} {% endblock %}

</body>

</html>
