{% extends 'home/b.html' %}

{% load static %}
{% block links %}
    <style>
            body{
                background-color: black;
                background-image: url("{% static 'home/img/register_as.png' %}");
                background-repeat: no-repeat;
                background-size: cover;
            }
    </style>
{% endblock %}


{% block nav %}
    {% include 'home/navBar.html' %}
{% endblock %}

{% block content %}
<header class="masthead ">
    <div class="container">
        <div class="container">
            <div class="intro-text">
                
                <div class="intro-heading text-uppercase">Education is a progressive discovery of our own ignorance - <small>Will Durant</small></div>
                <div class="intro-lead-in mb-3">Sign-Up As</div>
                <div class="row d-flex justify-content-around">
                    <div class="col-md-3 mb-3">
                            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'student_register' %}">Student</a>
                    </div>
                    <div class="col-md-3">
                            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'tutor_register' %}">Tutor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>

  
{% endblock %}

