{% if invited_to == "Student" %}
You have requested {{firstname}} {{lastname}} for a demo
{% else %}
You have invited {{firstname}} {{lastname}} for a demo
{% endif %}

{{invited_to}} AD:
Subject: {{ad.subject}}
Tuition Level: {{ad.tuition_level}}
{% if invited_to == "Student" %}
Hrs/day:  {{ad.hours_per_day}}
Days/week: {{ad.days_per_week}} 
Estimated Fees: {{ad.estimated_fees}}
{% if ad.tuition_type == "Home Tuition" %}
Home Tuition
{{area}}
{% else %}
Online Tuition
{% endif %}
{% else %}
{% if ad.can_travel == "No" %}
{{area}}
{% endif %}
{% endif %}

Follow us on:
FACEBOOK: https://www.facebook.com/StudenTutorOfficial
TWITTER: https://twitter.com/TutorStuden

studenTutor