{% extends "home/base.html" %}

{% load static %}

{% block links %}
    <style>
        a {
            
            font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        }
    </style>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home_page' %}" style="color: #fed136;">
        <img src="{% static 'home/img/logo.png' %}"> StudenTutor
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="{% url 'home_page' %}">Home</a>
        {% if user.is_authenticated %}
        {% if grp == "students" %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'student_dashboard' %}">Dashboard</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'tutor_dashboard' %}">Dashboard</a>
            </li>
        {% endif %}
        <a class="nav-item nav-link" href="{% url 'sign_out' %}">Sign Out</a>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'sign_in' %}">Sign In</a>
        <a class="nav-item nav-link" href="{% url 'register_as' %}">Register</a>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <div class="card shadow card-body border border-primary">
        
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <span class="d-flex justify-content-end"> 
                                <a class="btn btn-danger" style="font-size: 1rem" href="{% url 'tutors' %}"><i class="far fa-times-circle"></i></a>
                            </span>
                        </div>
                    </div>
        
        
                    <div class="row">
                        <div class="col-md-12 container mb-2">
                            <div class="d-flex justify-content-center">
                                <img src="{{tutor.user_image.url}}" alt="tutor" style="border: solid 2px; border-radius: 125px;" height="150" width="150">
                            </div>
                        </div>
                    </div>
        
                    <div class="container">
                        <div>
                            <h5>{{tutor.first_name}} {{tutor.last_name}}</h5>
                        </div>
                        <div>
                            <small style="text-align: justify;">{{tutor.tagline}}</small>
                            <p class="mt-2 mb-2"><b><i class="fas fa-graduation-cap"></i></b> <span style="text-align: justify;">{{qual.highest_qual}} from {{qual.highest_qual_inst}}</span></p>
                            <p class="mt-2 mb-2"><b><i class="fas fa-graduation-cap"></i></b> <span style="text-align: justify;">{{qual.secondary_qaul}} from {{qual.secondary_qaul_inst}}</span></p>
                            <hr>    
                            <p style="text-align: justify;" class="mt-2">{{tutor.about}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-md-6">
                <div class="card shadow border-primary p-3 mb-3">
                    <h5 class="card-title text-center">ADs By This Tutor</h5>
                    <hr>
                    {% if ads %}
                        {% for tutor in ads %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-body mb-3 border-success shadow">
                                        <div class="d-flex justify-content-between">
                                            <h5>{{tutor.tutorUser.first_name}} {{tutor.tutorUser.last_name}}</h5>
                                            <a href='{% url "ads_detail_tutor" tutor.id %}' class="text-success">View AD</a>
                                        </div>
                                        <small>{{tutor.tutorUser.tagline}}</small>
                                        <div class="conatiner mt-3 text-justify">
                                            <small class="text-justify"><b>Subject: </b>{{tutor.subject}}</small>
                                            <br>
                                            <small class="text-justify"><b>Tuition Level: </b>{{tutor.tuition_level}}</small>
                                            <br>
                                            <small class="text-justify"><b>Estimated fees: </b>PKR {{tutor.estimated_fees}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="d-flex justify-content-center container">
                            <h1 class="border p-3 mt-5 border-primary text-secondary"> NO AD BY THIS TUTOR </h1>
                        </div>
                    {% endif %}
                </div>
        </div>
    </div>
</div>

{% include "home/footer.html" %}
{% endblock %}