{% extends 'home/base.html' %}

{% block nav %}
    {% include 'academy/nav.html' %}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card p-3 shadow border-primary mb-3">
                    <h5 class="card-title text-center">Your AD</h5>
                    <hr>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Subject: </b>{{invite.academy_ad.subject}}</span></li>
                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Tuition Level: </b>{{invite.academy_ad.tuition_level}}</span></li>
                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>hrs/day: </b>{{invite.academy_ad.hours_per_day}} hrs/day</span></li>
                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>days/week: </b>{{invite.academy_ad.days_per_week}} days/week</span></li>
                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Estimated Salary: </b>PKR {{invite.academy_ad.estimated_salary}}</span></li>
                            {% if invite.academy_ad.tuition_type == "Online Tuition" %}
                                <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Online Tuition</b></span></li>
                            {% else %}
                                <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Home Tuition</b></span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="card p-3 mb-3 shadow border-danger">
                    <h5 class="card-title text-center">Other Tutors Teaching Same Subject</h5>
                    <hr>
                    {% if tutors %}
                        {% for tutor in tutors %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-body mb-3 border-primary shadow">
                                        <div class="d-flex justify-content-between">
                                            <h5>{{tutor.tutorUser.first_name}} {{tutor.tutorUser.last_name}}</h5>
                                            <a href='{% url "specific_tutor_academy" tutor.id %}' class="text-success">View AD</a>
                                        </div>
                                        <small>{{tutor.tutorUser.tagline}}</small>
                                        <div class="conatiner mt-3 text-justify">
                                            <small class="text-justify"><b>{{tutor.tutorUser.about}}</b></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="d-flex justify-content-center container">
                            <h1 class="border p-3 mt-5 border-primary text-secondary"> NO TUTORS FOUND </h1>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
