{% extends 'home/b.html' %}

{% block nav %}
    {% include 'students/navBar.html' %}
{% endblock %}


{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-center">
                        <div class="card shadow  mb-5 border-dark" style="height: auto; width:auto;">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-md-12">
                                            <span class="d-flex justify-content-end"> 
                                                {% if user.student.profile_complete == True%}
                                                    <a class="btn btn-info" href="{% url 'tutor_invite' tutor.id %}">Invite For Demo</a>
                                                {% else %}
                                                    <a class="btn btn-info disabled">Invite For Demo</a>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                    
                                    <div class="row">
                                        <div class="col-md-12 container ">
                                            <div class="d-flex justify-content-center">
                                                <img src="{{tutor.tutorUser.user_image.url}}"  style="border: solid 2px; border-radius: 125px;" height="150" width="150">
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="mt-4 container">
                                        <div>
                                            <h5><b>Tutor: </b>{{tutor.tutorUser.first_name}} {{tutor.tutorUser.last_name}} </h5>
                                        </div>
                                        <div>
                                            <small style="text-align: justify;">{{tutor.tutorUser.tagline}}</small>
                                            <p class="mt-2 mb-2"><b><i class="fas fa-graduation-cap"></i></b> <span style="text-align: justify;">{{qual.highest_qual}} from {{qual.highest_qual_inst}}</span></p>
                                            <p class="mt-2 mb-2"><b><i class="fas fa-graduation-cap"></i></b> <span style="text-align: justify;">{{qual.secondary_qaul}} from {{qual.secondary_qaul_inst}}</span></p>
                                            <hr>
                                            <p style="text-align: justify;" class="mt-2">{{tutor.tutorUser.about}}</p>
                                        </div>
                                    </div>
                    
                                    <div class="container">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Subject: </b>{{tutor.subject}}</span></li>
                                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Tuition Level: </b>{{tutor.tuition_level}}</span></li>
                                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Estimated Fees: </b>PKR {{tutor.estimated_fees}}</span></li>
                                            {% if tutor.can_travel == "Yes" %}
                                                <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Can Travel</b></span></li>
                                            {% else %}
                                            <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Area: </b>{{tutor.address}}</span></li>
                                                <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Can Not Travel</b></span></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                    
                                </div>
                            </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow border-primary p-3 mb-3">
                    <h5 class="card-title text-center">Other ADs By This Tutor</h5>
                    <hr>
                    {% if tutors %}
                        {% for tutor in tutors %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-body mb-3 border-success shadow">
                                        <div class="d-flex justify-content-between">
                                            <h5>{{tutor.tutorUser.first_name}} {{tutor.tutorUser.last_name}}</h5>
                                            <a href='{% url "specific_tutor" tutor.id %}' class="text-success">View AD</a>
                                        </div>
                                        <small>{{tutor.tutorUser.tagline}}</small>
                                        <div class="conatiner mt-3 text-justify">
                                            <small class="text-justify"><b>Subject: </b>{{tutor.subject}}</small>
                                            <br>
                                            <small class="text-justify"><b>Tuition Level: </b>{{tutor.tuition_level}}</small>
                                            <br>
                                            <small class="text-justify"><b>Estimated fees: </b>PKR {{tutor.estimated_fees}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="d-flex justify-content-center container">
                            <h1 class="border p-3 mt-5 border-primary text-secondary"> NO OTHER AD BY THIS TUTOR </h1>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}