{% extends 'home/base.html' %}

{% block nav %}
    {% include 'tutors/navBar.html' %}
{% endblock %}


{% block content %}


    <br>
    <div class="container">
        <div class="row text-center d-flex justify-content-around mt-4">
            <div class="col-md-6">
                <div class="card card-body shadow">
                    <p>Are you sure you want to accept demo invite from <b>{{invite.inivitaion_by_student.username}}</b></p>

                    <form method="POST" >
                        {% csrf_token %}

                        <a class="btn btn-warning" href="{% url 'invitations' %}">cancel</a>
                        <input class="btn btn-success" type="submit" name="confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}