{% extends "home/base.html" %}

{% block nav %}
    {% include "tutors/navBar.html" %}
{% endblock %}

{% block content %}
<div class="container">
        {% if messages %}
            <ul class="messages d-flex justify-content-center mb-2 mt-2">
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                <h5  {% if message.tags %} class="{{ message.tags }} "{% endif %}>{{ message }}</h5>
                </div>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row row-cols-1 row-cols-md-2 mt-3">


            {% for invite in invited %}
            <div class="col mb-4">
                <div
                {% if invite.accepted %}
                    class="card shadow border-success"
                {% else %}
                    class="card shadow border-dark"
                {% endif %}
                style="height: auto;">
                    <div class="card-body">

                        <div class="row mb-2">
                            <div class="col-md-12">
                                <span class="d-flex justify-content-end">
                                    {% if invite.accepted %}
                                    <h5 class="card-title text-success">Status: Accepted</h5>
                                    {% elif invite.rejected == True %}
                                        <h5 class="card-title text-danger">Status: Rejected</h5>
                                    {% else %}
                                        <h5 class="card-title text-info">Status: Pending</h5>
                                    {% endif %}
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 container ">
                                <div class="d-flex justify-content-center">
                                    <img src="{{invite.student_ad.studentUser.user_image.url}}"  style="border: solid 2px; border-radius: 125px;" height="150" width="150">
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 container">
                            <div class="mb-2">
                                <span class="badge-danger badge-pill p-2">Student</span>
                            </div>
                            <div>
                                <h5><b>Student Name:</b> {{invite.student_ad.studentUser.first_name}} {{invite.student_ad.studentUser.last_name}} </h5>
                            </div>
                        </div>

                        <div class="container">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Subject: </b>{{invite.student_ad.subject}}</span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Tuition Level: </b>{{invite.student_ad.tuition_level}}</span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Hrs/dy: </b>{{invite.student_ad.hours_per_day}} hrs/day</span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Days/week: </b>{{invite.student_ad.days_per_week}} days/week</span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Estimated Fees: </b>PKR {{invite.student_ad.estimated_fees}}</span></li>
                                {% if invite.student_ad.tuition_type == "Online Tuition" %}
                                    <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Online Tuition</b></span></li>
                                {% else %}
                                    <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Home Tuition</b></span></li>
                                {% endif %}
                                {% if invite.accepted %}
                                    <li class="list-group-item text-light bg-info">View Your Email For <b>{{invite.student_ad.studentUser.first_name}} {{invite.student_ad.studentUser.last_name}}'s</b> Contact Details</li>
                                {% elif invite.rejected %}
                                <li class="list-group-item text-light bg-danger">Invitation Request Has Been Rejected By <b>{{invite.inivitaion_by_student}}</b></li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}


            {% for invite in academy_invited %}
            <div class="col mb-4">
                <div
                {% if invite.accepted %}
                    class="card shadow border-success"
                {% else %}
                    class="card shadow border-dark"
                {% endif %}
                style="height: auto;">
                    <div class="card-body">

                        <div class="row mb-2">
                            <div class="col-md-12">
                                <span class="d-flex justify-content-end">
                                    {% if invite.accepted %}
                                    <h5 class="card-title text-success">Status: Accepted</h5>
                                    {% elif invite.rejected == True %}
                                        <h5 class="card-title text-danger">Status: Rejected</h5>
                                    {% else %}
                                        <h5 class="card-title text-info">Status: Pending</h5>
                                    {% endif %}
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 container ">
                                <div class="d-flex justify-content-center">
                                    <img src="{{invite.academy_ad.academyUser.user_image.url}}"  style="border: solid 2px; border-radius: 125px;" height="150" width="150">
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 container">
                            <div class="mb-2">
                                <span class="badge-danger badge-pill p-2">Academy</span>
                            </div>
                            <div>
                                <h5><b>Academy:</b> {{invite.academy_ad.academyUser.name}}</h5>
                            </div>
                        </div>

                        <div class="container">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Subject: </b>{{invite.academy_ad.subject}}</span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Tuition Level: </b>{{invite.academy_ad.tuition_level}}</span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Hrs/dy: </b>{{invite.academy_ad.hours_per_day}} hrs/day</span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Days/week: </b>{{invite.academy_ad.days_per_week}} days/week</span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Estimated Salary: </b>PKR {{invite.academy_ad.estimated_salary}}</span></li>
                                {% if invite.academy_ad.tuition_type == "Online Tuition" %}
                                    <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Online Tuition</b></span></li>
                                {% else %}
                                    <li class="list-group-item"><span class="p-2 border-primary mr-2 text-success"><b>Home Tuition</b></span></li>
                                {% endif %}
                                {% if invite.accepted %}
                                    <li class="list-group-item text-light bg-info">View Your Email For <b>{{invite.academy_ad.academyUser.name}}'s</b> Contact Details</li>
                                {% elif invite.rejected %}
                                <li class="list-group-item text-light bg-danger">Invitation Request Has Been Rejected By <b>{{invite.academy_ad.academyUser.name}}</b></li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
