{% extends 'home/base.html' %}

{% block nav %}
    {% include 'tutors/navBar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
            {% if messages %}
            <ul class="messages d-flex justify-content-center mb-2 mt-2">
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                <h5  {% if message.tags %} class="{{ message.tags }} "{% endif %}>{{ message }}</h5>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
        <div class="row row-cols-1 row-cols-md-2 mt-3">
                {% for invite in invites %}
        <div class="col mb-4">
            <div class="card shadow " style="height: 48rem;">
                <div class="card-body">
                    
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <span class="d-flex justify-content-end">   
                                {% if invite.accepted %}
                                <h5 class="text-success">Invitation Accepted</h5>
                                {% elif  invite.rejected %}
                                <h5 class="text-danger">Invitation Rejected</h5>
                                {% else %}
                                <a class="btn btn-info" href="{% url 'confirm_invite' invite.id %}">Accept</a>
                                <a class="btn btn-danger" href="{% url 'reject_invite' invite.id %}">Reject</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 container ">
                            <div class="d-flex justify-content-center">
                                <img src="{{invite.inivitaion_by_student.user_image.url}}"  style="border: solid 2px; border-radius: 125px;" height="150" width="150">
                            </div>
                        </div>
                    </div> 

                    <div class="mt-4 container">
                        <div>
                            <h5><b>Invitation By:</b> {{invite.inivitaion_by_student.first_name}} {{invite.inivitaion_by_student.last_name}} </h5>
                        </div>
                        <div>
                            <p style="text-align: justify;" class="mt-2">{{invite.inivitaion_by_student.textArea}}</p>
                        </div>
                    </div>

                    <div class="container">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="p-2 border-primary mr-2"><b>Your AD</b></span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2">{{invite.tutor_ad.subject}}</span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2">{{invite.tutor_ad.tuition_level}}</span></li>
                                <li class="list-group-item"><span class="p-2 border-primary mr-2">PKR {{invite.tutor_ad.estimated_fees}} Estimated Fees</span></li>
                                {% if invite.tutor_ad.can_travel == "Yes" %}
                                    <li class="list-group-item"><span class="p-2 border-primary mr-2">Can Travel</span></li>
                                {% else %}
                                    <li class="list-group-item"><span class="p-2 border-primary mr-2">Can Not Travel</span></li>
                                {% endif %}
                                {% if invite.accepted %}
                                    <li class="list-group-item text-light bg-info">View Your Email For <b>{{invite.inivitaion_by_student.first_name}} {{invite.inivitaion_by_student.last_name}}'s</b> Contact Details</li>
                                {% elif invite.rejected %}
                                <li class="list-group-item text-light bg-danger">You rejected the invite for demo request from <b>{{invite.inivitaion_by_student}}</b></li>
                                {% endif %}
                            </ul>
                        </div>

                </div>
            </div>
        </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}