{% extends 'home/base.html' %}

{% block nav %}
    {% include 'tutors/navBar.html' %}
{% endblock %}


{% block content %}


    <br>
    <div class="container">
        <div class="row text-center d-flex justify-content-around mt-4">
            <div class="col-md-6">
                <div class="card card-body shadow">
                    <p>Are you sure you want to <b>reject</b> demo invite from <b>{{invite.inivitaion_by_student.username}}</b></p>

                    <form method="POST" >
                        {% csrf_token %}

                        {% if user.tutor.verified %}
                            <a class="btn btn-warning" href="{% url 'invitations' %}">cancel</a>
                            <input class="btn btn-danger" type="submit" name="confirm">
                        {% else %}
                            <h4 class="text-danger">Verify YourSelf To Reject The Invitation</h4>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}